*, *::before, *::after{
	box-sizing: border-box;
	font-family: Courier new;
}


:root{
	--hue-default: 208;
	--hue-wrong: 0;
	--hue-correct: 145;
}

body{
	--hue: var(--hue-default);
	padding: 0;
	margin: 0;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: hsl(var(--hue), 100%, 22%);
}

body.correct{
	--hue: var(--hue-correct);
}

body.wrong{
	--hue: var(--hue-wrong);
}

.container{
	width: 800px;
	max-width: 80%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 10px 2px;
}

.btn-grid{
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
	margin: 20px 0;
}

.btn{
	--hue: var(--hue-default);
	border: 2px solid hsl(var(--hue), 100%, 40%);
	background-color: hsl(var(--hue), 100%, 50%);
	border-radius: 5px;
	color: white;

}

.btn:hover {
	border-color: black;
}

.btn.correct{
	--hue: var(--hue-correct);
	color: black;
}

.btn.wrong{
	--hue: var(--hue-wrong);
	color: black;
}

.begin-btn, .next-btn{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 20px;
}

.menu{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide{
	display: none;
}